body {
    font-family: "Quicksand", serif;
    color: #333333;
    font-size: 16px;
    word-spacing: 4px;
}
.mu-main-navbar {
    padding: 0.2em;
}
#mu-slider {
    margin-top: 55px;
}
.mu-top-slider .mu-top-slider-single img {
    height: 92vh;
}
.mu-top-slider .slick-dots {
    bottom:3em;
}
#mu-header {
    background-color: rgba(255, 255, 255, .9) !important;
}
.navbar-brand {
    font-family: 'Cabin Sketch', cursive !important;
}
.navbar-brand {
    font-size: 4em !important;
}
#top-menu {
    text-transform: uppercase;
}
.navbar-brand span {
    font-family: 'Handlee', cursive !important;
    font-size: .5em;
}
.mu-top-slider .mu-top-slider-single::after {
    background-color: rgba(0, 0, 0, .7);
}
.mu-slider-small-title {
    font-family: "Poiret One", cursive !important;
    font-size: 80px !important;
    color: white !important;
}
.mu-slider-title, .mu-subtitle {
    font-family: "Dancing Script", cursive !important;
    font-size: 30px !important;
    font-weight: 500;
}
.mu-subtitle {
    font-size: 60px !important;
}
.mu-top-slider .slick-dots li.slick-active button::before  {
    background-color: #fff0fb;
}
.mu-top-slider .slick-dots li button,
.mu-opening-hour {
    border: 2px solid #fff0fb;
}
.mu-about-us-left span {
    color: #ff3e00;
    font-weight: bold;
}
.mu-counter-nav li .mu-single-counter {
    background-color: rgba(255, 255, 255, .2);
}
.mu-counter-overlay {
    padding: 180px 0;
}
.discount {
    left: 0 !important;
    top: 0 !important;
    width: 50% !important;
    height: 100% !important;
    background-color: rgba(255, 62, 0, .5);
}
.discount-bg::after {
    background-color: rgba(0, 0, 0, .5) !important;
}
.discount {
    padding: 100px 30px;
    position: relative;
}
.discount-percent {
    font-weight: 800 !important;
}
.discount-content {
    line-height: 2em !important;
    align-content: center;
}
.discount-button {
    position: absolute;
    bottom: 5em;
    left: 50%;
    margin-left: -96px;
}
#mu-slider2 .slick-dots {
    display: none !important;
}
#mu-slider2 .mu-top-slider .mu-top-slider-single img {
    height: 60vh;
    width: 100%;
}
#mu-slider2 .detail-button {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
#mu-slider2 .mu-top-slider .mu-top-slider-single .mu-top-slider-content {
    text-align: right;
}
.mu-counter2 {
    background-image: url("assets/img/discount/discount3.jpg");
}
.mu-counter-overlay2 {
    padding: 120px 0;
    background-color: rgba(0, 0, 0, 0.64);
}
#mu-restaurant-menu {
    padding: 60px 0;
}
#mu-reservation {
    /*margin-top: 55px;*/
}
#mu-reservation h4 {
    color: #696666;
}
.mu-opening-hour p {
    padding: 5px;
}
.mu-reservation-right {
    margin-top: 30px;
}
.mu-opening-hour ul li {
    margin-bottom: 14px;
}
.mu-reservation-left .filed {
    padding-bottom: 28px;
}
.mu-reservation-left .table {
    padding-top: 16px;
}
.mu-reservation-left .table div {
    padding-bottom: 20px;
}
.mu-reservation-left .table .disable {
    background-color: #b3b3b3;
    color: #333;
}
.mu-readmore-btn::after {
    border: 1px solid #ff3e00 !important;
}
.disable::after {
    border: 1px solid #333 !important;
}
.mu-reservation-left .table p {
    color: white;
}