/* session1 */

.session1{
    height: 50px;
    border-bottom : 2px solid silver; 
}


/* session2 */

.main-panel .content{
    width: 100%;
    height: 500px;
    border-bottom : 2px solid silver;
}
.main-panel .content .content-form{
    width: 70%;
    height: 450px;
    background-color: silver;
    border-radius: 10px;
    margin:0 auto;
}
.main-panel .content .content-form .form-control{
    width: 80%;
}


/* sessin3 */

/* .session3{
    height: 100px;
    border-bottom : 2px solid silver; 
} */
