/* text align */
.text-align-center{
    text-align: center;
}
.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}

/* font size */
.font-size-10{
    font-size: 10px;
}
.font-size-11{
    font-size: 11px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-13{
    font-size: 13px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-15{
    font-size: 15px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-17{
    font-size: 17px;
}
.font-size-18{
    font-size: 18px;
}

/* float */

.fl-left{
    float: left;
}
.fl-right{
    float: right;
}

/* width */

w10p{
    width: 10%;
}
w15p{
    width: 15%;
}
w20p{
    width: 20%;
}
w25p{
    width: 25%;
}
w30p{
    width: 30%;
}
w35p{
    width: 35%;
}
w40p{
    width: 40%;
}
w45p{
    width: 45%;
}
w50p{
    width: 50%;
}
w100p{
    width: 100%;
}

/* common */

.cursor-pointer{
    cursor: pointer;
}

.hidden{
    display: none;
}

.color-red{
    color: red;
}