.btn-login {
    background-color: brown;
    border: 1px solid burlywood;
    cursor: pointer;
}
.btn-register {
    background: chartreuse;
    border: 1px solid black;
    cursor: pointer;
}
.form-user {
    width: 40%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.315);
    border-radius: 10px;
    margin: 0 auto;
}
.form-register, .form-login{
    padding-top: 40px;
}
.form-register table,.form-login table{
    margin: 0 auto;
}